.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 20px 15px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
/*.nav img{
  float: left;
  width: 200px;
  display: inline-block;*/
}
.nav h1{
  color: black;
  font-size: 50px;
  font-weight: bold;
  width: 300px;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/UN_emblem_blue.svg/2000px-UN_emblem_blue.svg.png') left no-repeat transparent;
  padding-left: 200px;
 
}

.nav li {
  display: inline;
  
}
.row p{
  font-family: 'Varela', sans-serif;
}

.jumbotron {
  background-image:url('http://www.williamholdings.com/722manhattan/gallery/album1/large/ucla.jpg');
  height: 560px;
  width: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-size: 14px
  font-color: black;
  margin-left: auto;
  margin-right: auto;
}


.jumbotron .container {
  position: relative;
  top:100px;
  color: #00b0ff;
}

.jumbotron h1 {
  color: black;
  font-size: 48px;  
  font-family: 'Varela', sans-serif;
  font-weight: bold;
    margin-left: auto;
  margin-right: auto;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
.about_the_club{
    background-color: white;
     border-bottom: 1px solid #dbdbdb;
}
.about_the_club h2{
    color: #393c3d;
    font-size:24px;
}
.about_the_club{
    font-size: 15px;
    margin-bottom: 1px;
}
