/*
| ---------------------------------------------------------------------
| =CIRCULARSTD
| ---------------------------------------------------------------------
*/

@font-face {
    font-family: "circular-std";
    src: url('./CircularStd-Bold.otf');
}


/*
| ---------------------------------------------------------------------
| =TISAPRO
| ---------------------------------------------------------------------
*/

/* =TISAPRO-N4 (Regular)
 * ------------------------------------------------ */

@font-face {
    font-family: "tisa-pro";
    src: url('./tisapro/tisapro-n4-wf.eot');
    src: url('./tisapro/tisapro-n4-wf.eot?#iefix') format('eot'),
         url('./tisapro/tisapro-n4-wf.woff') format('woff'),
         url('./tisapro/tisapro-n4-wf.ttf') format('truetype'),
         url('./tisapro/tisapro-n4-wf.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'tisa-pro';
        src: url('./tisapro/tisapro-n4-wf.svg') format('svg');
    }
}

/* =TISAPRO-I4 (Regular Italic)
 * ------------------------------------------------ */

@font-face {
    font-family: "tisa-pro";
    src: url('./tisapro/tisapro-i4-wf.eot');
    src: url('./tisapro/tisapro-i4-wf.eot?#iefix') format('eot'),
         url('./tisapro/tisapro-i4-wf.woff') format('woff'),
         url('./tisapro/tisapro-i4-wf.ttf') format('truetype'),
         url('./tisapro/tisapro-i4-wf.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'tisa-pro';
        src: url('./tisapro/tisapro-i4-wf.svg') format('svg');
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  @font-face {
    font-family: "tisa-pro";
    src: url('./tisapro/tisapro-i5-wf.eot');
    src: url('./tisapro/tisapro-i5-wf.eot?#iefix') format('eot'),
         url('./tisapro/tisapro-i5-wf.woff') format('woff'),
         url('./tisapro/tisapro-i5-wf.ttf') format('truetype'),
         url('./tisapro/tisapro-i5-wf.svg') format('svg');
    font-weight: normal;
    font-style: italic;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  @font-face {
    font-family: "tisa-pro";
    src: url('./tisapro/tisapro-i5-wf.eot');
    src: url('./tisapro/tisapro-i5-wf.eot?#iefix') format('eot'),
         url('./tisapro/tisapro-i5-wf.woff') format('woff'),
         url('./tisapro/tisapro-i5-wf.ttf') format('truetype'),
         url('./tisapro/tisapro-i5-wf.svg') format('svg');
    font-weight: normal;
    font-style: italic;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  @font-face {
    font-family: "tisa-pro";
    src: url('./tisapro/tisapro-i5-wf.eot');
    src: url('./tisapro/tisapro-i5-wf.eot?#iefix') format('eot'),
         url('./tisapro/tisapro-i5-wf.woff') format('woff'),
         url('./tisapro/tisapro-i5-wf.ttf') format('truetype'),
         url('./tisapro/tisapro-i5-wf.svg') format('svg');
    font-weight: normal;
    font-style: italic;
  }
}

/* =TISAPRO-N7 (Bold)
 * ------------------------------------------------ */

@font-face {
    font-family: "tisa-pro";
    src: url('./tisapro/tisapro-n7-wf.eot');
    src: url('./tisapro/tisapro-n7-wf.eot?#iefix') format('eot'),
         url('./tisapro/tisapro-n7-wf.woff') format('woff'),
         url('./tisapro/tisapro-n7-wf.ttf') format('truetype'),
         url('./tisapro/tisapro-n7-wf.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'tisa-pro';
        src: url('./tisapro/tisapro-n7-wf.svg') format('svg');
    }
}

/* =TISAPRO-I7 (Bold Italic)
 * ------------------------------------------------ */

@font-face {
    font-family: "tisa-pro";
    src: url('./tisapro/tisapro-i7-wf.eot');
    src: url('./tisapro/tisapro-i7-wf.eot?#iefix') format('eot'),
         url('./tisapro/tisapro-i7-wf.woff') format('woff'),
         url('./tisapro/tisapro-i7-wf.ttf') format('truetype'),
         url('./tisapro/tisapro-i7-wf.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'tisa-pro';
        src: url('./tisapro/tisapro-i7-wf.svg') format('svg');
    }
}

/*
| ---------------------------------------------------------------------
| =GEOGROTESQUE
| ---------------------------------------------------------------------
*/

/* =GEOGROTESQUE-N3 (Light)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-n3-wf.eot');
    src: url('./geogtq/geogtq-n3-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-n3-wf.woff') format('woff'),
         url('./geogtq/geogtq-n3-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-n3-wf.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* =GEOGROTESQUE-I3 (Light Italic)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-i3-wf.eot');
    src: url('./geogtq/geogtq-i3-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-i3-wf.woff') format('woff'),
         url('./geogtq/geogtq-i3-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-i3-wf.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}

/* =GEOGROTESQUE-N4 (Regular)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-n4-wf.eot');
    src: url('./geogtq/geogtq-n4-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-n4-wf.woff') format('woff'),
         url('./geogtq/geogtq-n4-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-n4-wf.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* =GEOGROTESQUE-I4 (Regular Italic)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-i4-wf.eot');
    src: url('./geogtq/geogtq-i4-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-i4-wf.woff') format('woff'),
         url('./geogtq/geogtq-i4-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-i4-wf.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}

/* =GEOGROTESQUE-N5 (Medium)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-n5-wf.eot');
    src: url('./geogtq/geogtq-n5-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-n5-wf.woff') format('woff'),
         url('./geogtq/geogtq-n5-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-n5-wf.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* =GEOGROTESQUE-I5 (Medium Italic)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-i5-wf.eot');
    src: url('./geogtq/geogtq-i5-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-i5-wf.woff') format('woff'),
         url('./geogtq/geogtq-i5-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-i5-wf.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}

/* =GEOGROTESQUE-N6 (Semibold)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-n6-wf.eot');
    src: url('./geogtq/geogtq-n6-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-n6-wf.woff') format('woff'),
         url('./geogtq/geogtq-n6-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-n6-wf.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

/* =GEOGROTESQUE-I6 (Semibold Italic)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-i6-wf.eot');
    src: url('./geogtq/geogtq-i6-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-i6-wf.woff') format('woff'),
         url('./geogtq/geogtq-i6-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-i6-wf.svg') format('svg');
    font-weight: 600;
    font-style: italic;
}

/* =GEOGROTESQUE-N7 (Bold)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-n7-wf.eot');
    src: url('./geogtq/geogtq-n7-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-n7-wf.woff') format('woff'),
         url('./geogtq/geogtq-n7-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-n7-wf.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* =GEOGROTESQUE-I7 (Bold Italic)
 * ------------------------------------------------ */

@font-face {
    font-family: "geogrotesque";
    src: url('./geogtq/geogtq-i7-wf.eot');
    src: url('./geogtq/geogtq-i7-wf.eot?#iefix') format('eot'),
         url('./geogtq/geogtq-i7-wf.woff') format('woff'),
         url('./geogtq/geogtq-i7-wf.ttf') format('truetype'),
         url('./geogtq/geogtq-i7-wf.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}
